@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&display=swap');

@font-face {
    font-family: calculatorFont;
    src: url('./font/DS-DIGI.TTF');
}

body{
    background-image: linear-gradient(to right, #4656e8 , #7984e0);
    background-color: #4656e8;
    font-family: 'Fira Sans', sans-serif;
}

#calculator{
    position: relative;
    margin: auto;
    background-color: #0e101f;
    box-shadow: 8px 8px #05070c;
    width: 420px;
    height: 500px;
    border-radius: 30px;
}

#screen{
    position: absolute;
    background-color: #CED2F0;
    width: 370px;
    height: 90px;
    top: 25px;
    left: 25px;
    border-radius: 15px;
}

#expression{
    position: relative;
    top: 5px;
    padding: 5px;
    font-family: 'calculatorFont';
    font-size: 14pt;
    text-align: right;
}

#number{
    position: relative;
    top: 5px;
    padding: 5px;
    font-family: 'calculatorFont';
    font-size: 30pt;
    text-align: right;
}

#calculator-buttons{
    position: absolute;
    top: 130px;
    left: 25px;
}

#clear{
    width: 105px;
    height: 60px;
    background-color: #ef476f;
    box-shadow: 3px 3px #6b2031;
    border-radius: 5px;
}

.operations{
    display: inline-table;
    margin-right: 4px;
    width: 80px;
    height: 60px;
    background-color: #ffd166;
    box-shadow: 3px 3px #725e2e;
    border-radius: 5px;
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
}

.buttons{
    display: inline-table;
}

.button{
    display: inline-table;
    margin-top: 10px;
    margin-right: 10px;
    width: 82px;
    height: 60px;
    background-color: #4ecdc4;
    box-shadow: 3px 3px #225c58;
    border-radius: 5px;
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
}

#zero{
    width: 178px;
}

.button-aside{
    margin-top: 10px;
    width: 80px;
    height: 60px;
    background-color: #ffd166;
    box-shadow: 3px 3px #725e2e;
    border-radius: 5px;
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
}